body {
    text-align: center;
    background-image: url('../imagens/fundo-jogoDaVelha.PNG');
            background-size: 100px 100px;
            background-repeat: repeat;
    
}

h1{
    background-color: rgba(0, 0, 0, 0.822);
    color: #eee;
    padding: 5px;
    min-width: 300px;
    max-width: 438px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

div.jogo{
    background-color: rgba(0, 0, 0, 0.822);
    min-width: 300px;
    max-width: 438px;
    margin: auto;   /* Centralizar o main*/
    border-radius: 10px;
}

div.fundobaixo{
    background-color: rgba(0, 0, 0, 0.822);
    color: #eee;
    min-width: 300px;
    max-width: 438px;
    margin: auto;   /* Centralizar o main*/
    padding-bottom: 10px;
    border-radius: 10px;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgba(255, 255, 255, 0.719);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: rgba(238, 238, 238, 0);
    box-shadow: 1 1 1  rgba(0, 0, 0, 0.486);
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
    box-shadow: 1 1 1 rgba(0, 0, 0, 0.698);
}